body{
  margin:0%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-family: 'Work Sans', sans-serif;
font-size: 600;
  }
  
  nav li a:hover {
    background-color: #333;
    color: #fff;
  }  
  
.background-image {
  width: 100%;
  height: 60vh; 
  background-image: url('image/CAP2-min.png');
  background-size: cover;
  background-position: center;
  margin-top: -35%;

}
 

.container{
display: flex;
justify-content:auto;


}
.noire{
background-color: black;
width: 1010vh;
height: 100vh;
margin-bottom: auto;
justify-content: auto;
align-items: auto;
margin-top: 600px;

}
h1{
  color: azure;
  font-size: 30px;
  margin-top: 100px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}
p{


color: #fff;
font-size: 20px;
margin-left: 40px;
}
.form-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 25%px;
}

.form-col {
  flex-basis: 50%;
  margin-bottom: 25px;

}

label {
  display: block;
  margin-bottom: 5px;
  align-content: center;
  height: 90%;
  width: 40%;
}

input[type="text"],
input[type="email"] {
  width: 50%;
  height: 40px;
  padding: 5px;
  margin-bottom: 5px;
  align-content:center;
  height: 8vh;
  width: 40%;
  margin-top: -40px;
}

input[type="submit"] {
  margin-top: 10px;
  padding: 20px 40px;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;

}
.style{
  margin: 10px;
}
.espace {
  padding: 7px;
}
.espace {
  padding: 7px;
}








